/* TradingAppBox.css */

.trading-app-box {
    border: 2px solid #8b6a6a;
    border-radius: 5px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  
  .rating,
  .charges,
  .downloads,
  .active-users {
    margin-bottom: 10px;
    font-weight: bold;
    color:#007bff
  }
  
  .pros-cons {
    margin-bottom: 10px;
  }
  
  .pros-cons h3 {
    margin-bottom: 5px;
  }
  
  .pros,
  .cons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  
  .pros li,
  .cons li {
    list-style-type: none;
  }
  
  .suitability {
    margin-top: 10px;
  }
  
  .links {
    margin-top: 20px;
  }
  
  .links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff; /* Link color */
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  /* TradingAppDownload.css */

.trading-app-download {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .step {
    margin-bottom: 20px;
    margin-left: 200px;
    display: flex;
  }
  
  .step-number {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .step-description {
    flex: 1;
  }
  
  .step-description p {
    margin: 0;
  }
  
  /* TradingAccountDocuments.css */

.trading-account-documents {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
  }
  
  li {
    list-style: none;
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  li strong {
    font-weight: bold;
  }
  
  li:before {
    /* content: "•"; */
    margin-right: 5px;
  }

  .trading-app-benefits {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .mobile-trading-steps {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .methodology {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }  
  .key-features {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .trading-apps-overview {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }